<%= form_for(@vote_d) do |f| %>
  <% if @vote_d.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote_d.errors.count, "error") %> prohibited this vote_d from being saved:</h2>

      <ul>
      <% @vote_d.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br>
    <%= f.text_field :question_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
