<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_d.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @vote_d.question %>
</p>

<%= link_to 'Edit', edit_vote_d_path(@vote_d) %> |
<%= link_to 'Back', vote_ds_path %>
