<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_c.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @vote_c.question %>
</p>

<%= link_to 'Edit', edit_vote_c_path(@vote_c) %> |
<%= link_to 'Back', vote_cs_path %>
