<h1>Listing poll_centres</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @poll_centres.each do |poll_centre| %>
      <tr>
        <td><%= poll_centre.title %></td>
        <td><%= link_to 'Show', poll_centre %></td>
        <td><%= link_to 'Edit', edit_poll_centre_path(poll_centre) %></td>
        <td><%= link_to 'Destroy', poll_centre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poll centre', new_poll_centre_path %>
