<div class="poll-centre-container">
  <div class="current-question">
<!--       show current question here with options, if none then show last answered question with answers
      if no questions, small to add -->
    <div class="current-question-top">
      <h4 id="current-question-header">Current Question <% if @current_question %>- <span style="color: green">LIVE!</span> <% end %></h4>
      <% if @current_question %>
        <h4 class="current-question-votes">Votes: <span class="votes-so-far"><%= @current_question.total_votes %></span></h4>
      <% end %>
    </div>

    <div class="current-question-content">
      <% if @current_question %>
        <h4 class="current-question-text">Q: <%= @current_question.text %></h4>
        <ul class='options'>
          <li class="option-a">A: <%= @current_question.option_a %></li>
          <li class="option-b">B: <%= @current_question.option_b %></li>
          <li class="option-c">C: <%= @current_question.option_c %></li>
          <li class="option-d">D: <%= @current_question.option_d %></li>
        </ul>
        <div class="vote-options-container">
          <ul class="vote-options">
            <li class="vote-option vote-option-a"><button href="#" <% if !@selected_answer.nil? && @selected_answer=="A"%> class ='btn vote-btn selected-vote-btn' <% else %> class='btn vote-btn'<% end %> question-id="<%= @current_question.id %>" value='a'>A</button></li>
            <li class="vote-option vote-option-b"><button href="#" <% if !@selected_answer.nil? && @selected_answer=="B"%> class ='btn vote-btn selected-vote-btn' <% else %> class ='btn vote-btn'<% end %> question-id="<%= @current_question.id %>" value='b'>B</button></li>
            <li class="vote-option vote-option-c"><button href="#" <% if !@selected_answer.nil? && @selected_answer=="C"%> class ='btn vote-btn selected-vote-btn' <% else %>class ='btn vote-btn' <% end %> question-id="<%= @current_question.id %>" value='c'>C</button></li>
            <li class="vote-option vote-option-d"><button href="#" <% if !@selected_answer.nil? && @selected_answer=="D"%> class ='btn vote-btn selected-vote-btn' <% else %>class ='btn vote-btn' <% end %> question-id="<%= @current_question.id %>" value='d'>D</button></li>
          </ul>
        </div>
      <% elsif %>
        <div class="current-question-prompt">
          <p>No need to refresh. Live questions will appear here as soon as they open.</p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="asked-questions">
    <div class="asked-questions-toggle">
      <h4 class="poll-centre-show-title">
        Asked Questions
      </h4>
      <span class="caret asked-questions-caret">
    </div>
    <div class="asked-questions-collection">
      <% if @asked_questions %>
        <% @asked_questions.each do |question| %>
          <div class="panel panel-default asked-question">
            <div class="panel-heading my-panel-heading panel-heading-toggle">
              <h3 class="panel-title asked-question-title">Q: <%= question.text %></h3>
              <% if @user.correct?(question.id) %><span class="result-icon glyphicon glyphicon-ok"></span><% else%><span class="glyphicon glyphicon-remove result-icon"></span><% end %>
            </div>
            <div class="panel-body asked-question-body panel-body-toggle">
              <ul class="asked-options">
                <li>A: <%= question.option_a %></li>
                <li>B: <%= question.option_b %></li>
                <li>C: <%= question.option_c %></li>
                <li>D: <%= question.option_d %></li>
              </ul>
              <div class="result-numbers">
                <ul>
                  <% if question.total_votes > 0 %>
                    <li><%= "#{question.a_votes} (#{number_to_percentage(question.a_votes.to_f / question.total_votes * 100, precision: 1)})" %></li>
                    <li><%= "#{question.b_votes} (#{number_to_percentage(question.b_votes.to_f / question.total_votes * 100, precision: 1)})" %></li>
                    <li><%= "#{question.c_votes} (#{number_to_percentage(question.c_votes.to_f / question.total_votes * 100, precision: 1)})" %></li>
                    <li><%= "#{question.d_votes} (#{number_to_percentage(question.d_votes.to_f / question.total_votes * 100, precision: 1)})" %></li>
                  <% end %>
                </ul>
              </div>
              <p>Correct Answer: <%= question.correct_answer %></p><p>You selected: <%= @user.selected_answer(question.id) %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

<script>

// var askSuccess = function(data, status, xhr) {
//   console.log(data);
//   $(".current-question").html("<div class='current-question-top'><h4 id='current-question-header'>Current Question - <span style='color: green'>LIVE!</span></h4><h4 class='current-question-votes'>Votes: <span class='votes-so-far'>0</span></h4></div><div class='current-question-content'><h4 class='current-question-text'>Q: "
//      + "sdsd" + "</h4><ul class='options'><li class='option-a'>A: " + data.option_a + "</li><li class='option-b'>B: " + data.option_b + "</li><li class='option-c'>C: "+ data.option_b + "</li><li class='option-d'>D: "+ data.option_d +"</li></ul><a class='end-link' href='#'><span class='end-button' id='end-" + data.id + "'>End Question</span></a></div></div>");
//   $("#ask-" + data.id).parent().parent().parent().remove();
//   // $(".current-question").html("<h4 id='current-question-header'>Current Question - <span style='color: green'>LIVE!</span></h4><h4 class='current-question-votes'>Votes: <span class='votes-so-far'>0</span></h4><div class='current-question-content'><h4 class='current-question-text'>Q: " + data.text + "</h4><ul><li>A: " + data.option_a + "</li><li>B:" + data.option_b + "</li><li>C:" + data.option_c  + "</li><li>D: " + data.option_d  + "</li></ul><a class='end-link' href='#''><span class='end-button' id='end-" + data.id + "'>End Question</span></a></div>");
//   $(".end-button").click(function(e) {
//     e.preventDefault();
//     var questionId = $(this).attr("id").split('-')[1];
//     console.log(questionId);
//     $.ajax({
//       type: "POST",
//       url: "/questions/" + questionId + "/end",
//       error: function(xhr, status, error) {
//         console.log(xhr);
//         var resp = JSON.parse(xhr.responseText);
//         alert(resp.error);
//       },
//       success: endSuccess
//       // dataType: dataType
//     });
//   });

//   //replace current-question-content with ...
// };



$(".panel-heading-toggle").click(function(){
  $(this).nextAll(".panel-body-toggle:first").toggle('slow');
});

$(".answered-questions-toggle").click(function(){
  $('.answered-questions-collection').toggle('slow');
});



// var endSuccess = function(data, status, xhr) {
//   console.log(data);
//   $('#current-question-header').html("Results");
//   $('#current-question-header').css("font-weight", 600);
//   var sum = data.option_a_votes + data.option_b_votes + data.option_c_votes + data.option_d_votes;
//   $('.current-question-votes').text("Final Vote Count: " + sum);

//   var aPercent = "";
//   var bPercent = "";
//   var cPercent = "";
//   var dPercent = "";
//   if(sum > 0) {
//     aPercent = "(" + Math.round(data.option_a_votes/sum * 100 *10) / 10  + "%)";
//     bPercent = "(" + Math.round(data.option_b_votes/sum * 100 *10) / 10 + "%)";
//     cPercent = "(" + Math.round(data.option_c_votes/sum * 100 *10) / 10 + "%)";
//     dPercent = "(" + Math.round(data.option_d_votes/sum * 100 *10) / 10 + "%)";
//   }

//   $(".options").after("<div class='result-numbers'><ul><li>" + data.option_a_votes + aPercent + "</li><li>"+ data.option_b_votes + bPercent  +"</li><li>" + data.option_c_votes + cPercent + "</li><li>" + data.option_d_votes + dPercent + "</li</ul></div>");
//   $(".options").css("display", "inline-block");
//   $(".end-link").text("");
// }

$(".vote-btn").click(function(e) {
    e.preventDefault();
    var questionId = $(this).attr("question-id");
    var voteLetter = $(this).attr("value");
    console.log(questionId);
    var thisObject = this;
    $.ajax({
      type: "POST",
      url: "/questions/" + questionId + "/vote/" + voteLetter,
      error: function(xhr, status, error) {
        console.log(xhr);
        var resp = JSON.parse(xhr.responseText);
        alert(resp.error);
      },
      success: function(data, status, xhr) {
        //remove attribute from any that hae it
        $(".selected-vote-btn").removeClass("selected-vote-btn");

        window.selected = voteLetter; //global scope??!!!
        $(thisObject).addClass("selected-vote-btn");
      }
      // dataType: dataType
    });
});
</script>

<script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };

  var channelName = "<%= @poll_centre.title %>";
  var pusher = new Pusher('043534b3fe26ce050e53');
  var channel = pusher.subscribe(channelName);
  channel.bind('question-start', function(data) {
    console.log(data);
  $('.current-question').html('<div class="current-question-top"> <h4 id="current-question-header">Current Question - <span style="color: green">LIVE!</span> </h4> <h4 class="current-question-votes">Votes: <span class="votes-so-far">0</span></h4> </div> <div class="current-question-content"> <h4 class="current-question-text">Q: ' + data.question_text + '</h4> <ul class="options"><li class="option-a">A: ' + data.option_a +'</li> <li class="option-b">B: ' + data.option_b +'</li> <li class="option-c">C: ' +data.option_c + '</li> <li class="option-d">D: '+data.option_d + '</li></ul> <div class="vote-options-container"> <ul class="vote-options"> <li class="vote-option vote-option-a"><button href="#" class="btn vote-btn" question-id="' + data.question_id +'" value="a">A</button></li> <li class="vote-option vote-option-b"><button href="#" class="btn vote-btn" question-id="' + data.question_id +'" value="b">B</button></li> <li class="vote-option vote-option-c"><button href="#" class="btn vote-btn" question-id="' +data.question_id + '" value="c">C</button></li> <li class="vote-option vote-option-d"><button href="#" class="btn vote-btn" question-id="' +data.question_id + '" value="d">D</button></li> </ul> </div> </div>');

    $(".vote-btn").click(function(e) {
        e.preventDefault();
        var questionId = $(this).attr("question-id");
        var voteLetter = $(this).attr("value");
        console.log(questionId);
        console.log()
        var thisObject = this;
        $.ajax({
          type: "POST",
          url: "/questions/" + questionId + "/vote/" + voteLetter,
          error: function(xhr, status, error) {
            console.log(xhr);
            var resp = JSON.parse(xhr.responseText);
            alert(resp.error);
          },
          success: function(data, status, xhr) {
            //remove attribute from any that hae it
            $(".selected-vote-btn").removeClass("selected-vote-btn");

            window.selected = voteLetter; //global scope??!!!
            $(thisObject).addClass("selected-vote-btn");
          }
          // dataType: dataType
        });
    });

  });

  channel.bind('question-end', function(data) {
    console.log(data.message);
    $('#current-question-header').html("Results");
    $('#current-question-header').css("font-weight", 600);
    var sum = data.option_a_votes + data.option_b_votes + data.option_c_votes + data.option_d_votes;
    $('.current-question-votes').text("Final Vote Count: " + sum);
    var aPercent = "";
    var bPercent = "";
    var cPercent = "";
    var dPercent = "";
    if(sum > 0) {
      aPercent = "(" + Math.round(data.option_a_votes/sum * 100 *10) / 10  + "%)";
      bPercent = "(" + Math.round(data.option_b_votes/sum * 100 *10) / 10 + "%)";
      cPercent = "(" + Math.round(data.option_c_votes/sum * 100 *10) / 10 + "%)";
      dPercent = "(" + Math.round(data.option_d_votes/sum * 100 *10) / 10 + "%)";
    }
    console.log("selected is", window.selected);
    if(window.selected == data.correct_answer.toLowerCase()) {
      $(".options").after("<div class='result-numbers'><ul><li>" + data.option_a_votes + aPercent + "</li><li>"+ data.option_b_votes + bPercent  +"</li><li>" + data.option_c_votes + cPercent + "</li><li>" + data.option_d_votes + dPercent + '</li></ul></div><div class="result-text"><p>Correct Answer: ' + data.correct_answer + '<p>You selected ' + window.selected.toUpperCase() + '. Good job!</div>');
    } else {
      $(".options").after("<div class='result-numbers'><ul><li>" + data.option_a_votes + aPercent + "</li><li>"+ data.option_b_votes + bPercent  +"</li><li>" + data.option_c_votes + cPercent + "</li><li>" + data.option_d_votes + dPercent + '</li></ul></div><div class="result-text"><p>Correct Answer: ' + data.correct_answer + '<p>You selected ' + window.selected.toUpperCase() + ".  It's all a numbers game anyway</div>");
    }

    $(".vote-options-container").text("");

    $(".options").css("display", "inline-block");
    $(".end-link").text("");
    if(sum > 0) {

     if(data.correct_answer == window.selected.toUpperCase()) {
       $(".asked-questions-collection").prepend('<div class="panel panel-default asked-question"><div class="panel-heading my-panel-heading panel-heading-toggle"><h3 class="panel-title asked-question-title">Q: ' + data.question_text + '</h3><span class="result-icon glyphicon glyphicon-ok"></span></div><div class="panel-body asked-question-body panel-body-toggle"><ul class="asked-options"><li>A: '+ data.option_a + '</li><li>B: ' + data.option_b + '</li><li>C: ' + data.option_c + '</li><li>D: ' + data.option_d + '</li></ul><div class="result-numbers"><ul><li>' + data.option_a_votes + aPercent +'</li><li>' + data.option_b_votes + bPercent + '</li><li>' + data.option_c_votes + cPercent +'</li><li>' + data.option_d_votes + dPercent + '</li></ul></div><p>Correct Answer: ' + data.correct_answer + '</p><p>You selected: ' + window.selected.toUpperCase() +'</p></div>');
     } else {
       $(".asked-questions-collection").prepend('<div class="panel panel-default asked-question"><div class="panel-heading my-panel-heading panel-heading-toggle"><h3 class="panel-title asked-question-title">Q: ' + data.question_text + '</h3><span class="result-icon glyphicon glyphicon-remove"></span></div><div class="panel-body asked-question-body panel-body-toggle"><ul class="asked-options"><li>A: '+ data.option_a + '</li><li>B: ' + data.option_b + '</li><li>C: ' + data.option_c + '</li><li>D: ' + data.option_d + '</li></ul><div class="result-numbers"><ul><li>' + data.option_a_votes + aPercent +'</li><li>' + data.option_b_votes + bPercent + '</li><li>' + data.option_c_votes + cPercent +'</li><li>' + data.option_d_votes + dPercent + '</li></ul></div><p>Correct Answer: ' + data.correct_answer + '</p><p>You selected: ' + window.selected.toUpperCase() +'</p></div>');
     }

    }

    var newQuestionHeaderToggle = $(".asked-question:first").children()[0];
    $(newQuestionHeaderToggle).click(function(){
      $(this).nextAll(".panel-body-toggle:first").toggle('slow');
    });
  });

  $(".asked-questions-toggle").click(function(){
    $('.asked-questions-collection').toggle('slow');
  });



  channel.bind('question-vote', function(data) {
    var currentTotal = Number($('.votes-so-far').text());
    $('.votes-so-far').text(currentTotal+1);
  });
</script>