<div class="poll-centre-container">
  <div class="current-question">
    <div class="current-question-content">
<!--       show current question here with options, if none then show last answered question with answers
      if no questions, small to add -->
      <% if @current_question %>
        <h4 id="current-question-header">Current Question - <span style="color: green">LIVE!</span></h4>
        <h4 class="current-question-votes">Votes so far: <span class="votes-so-far"><%= @current_question.total_votes %></span></h4>

        <h4 class="current-question-text"><%= @current_question.text %></h4>
        <ul>
          <li>A: <%= @current_question.option_a %></li>
          <li>B: <%= @current_question.option_b %></li>
          <li>C: <%= @current_question.option_c %></li>
          <li>D: <%= @current_question.option_d %></li>
        </ul>
      <% elsif !@poll_centre.has_unasked_questions? %>
        <p class="current-question-prompt">You don't seem to have any questions yet. Did you know studies have shown that polling an audience improves memory retention and engagement?</p>
      <% elsif @poll_centre.has_unasked_questions? %>
        <p class="current-question-prompt">You have questions just waiting to be asked!</p>
      <% end %>
    </div>
  </div>

  <div class="new-questions">
    <div class="add-question">
      <div class="add-question-header-toggle">
        <h4 class="poll-centre-show-title">
          Create a question
        </h4><span class="caret add-question-caret"></span>
      </div>
      <div class="add-more-questions">
        <p>Question successfully created.</p>
        <button class="btn btn-primary add-another-question-btn" >Add another question</button>
      </div>
      <%= form_for(@question, remote: true) do |f| %>
        <% if @question.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

            <ul>
            <% @question.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <label>Question</label>
          <%= f.text_field :text, :class => "new-question-text-input", :required => true%>
        </div>
        <div class="field">
          <label>Option A</label>
          <%= f.text_field :option_a, :class => "new-question-text-input", :required => true %>
        </div>
        <div class="field">
          <label>Option B</label>
          <%= f.text_field :option_b, :class => "new-question-text-input", :required => true %>
        </div>
        <div class="field">
          <label>Option C</label>
          <%= f.text_field :option_c, :class => "new-question-text-input" %>
        </div>
        <div class="field">
          <label>Option D</label>
          <%= f.text_field :option_d, :class => "new-question-text-input" %>
        </div>
        <div class="field">
          <label>Answer</label>
          <span class="radio-answer">A <input type="radio" name="question[answer]" value="1"></span>
          <span class="radio-answer">B <input type="radio" name="question[answer]" value="2"></span>
          <span class="radio-answer">C <input type="radio" name="question[answer]" value="3"></span>
          <span class="radio-answer">D <input type="radio" name="question[answer]" value="4"></span>
        </div>

        <%= f.hidden_field :poll_centre_id, value: @poll_centre.id %>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="unasked-questions">
    <div class="unasked-questions-toggle">
      <h4 class="poll-centre-show-title">
        Unasked Questions
      </h4>
      <span class="caret unasked-questions-caret">
    </div>
    <div class="unasked-questions-collection">
      <% if @unasked_questions %>
        <% @unasked_questions.each do |question| %>
          <div class="panel panel-default unasked-question">
            <div class="panel-heading my-panel-heading panel-heading-toggle">
              <h3 class="panel-title unasked-question-title">Q: <%= question.text %></h3><a class="ask-link" href="#"><span class="ask-button" id="<%= "ask-" + question.id.to_s %>">Ask</span></a><!-- <span class="caret panel-caret"></span> -->
            </div>
            <div class="panel-body unasked-question-body panel-body-toggle">
              <ul>
                <li>A: <%= question.option_a %></li>
                <li>B: <%= question.option_b %></li>
                <li>C: <%= question.option_c %></li>
                <li>D: <%= question.option_d %></li>
              </ul>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>



  <div class="asked-questions">
    <h4 class="poll-centre-show-title">
      Previously asked questions
    </h4>
    already asked questions, collapsed, can see results
  </div>
</div>

<script>
//handler for asking a question TODO: bind to newly appended
$(".ask-button").click(function(e) {
  e.preventDefault();
  var questionId = $(this).attr("id").split('-')[1];
  console.log(questionId);
  $.ajax({
    type: "POST",
    url: "/questions/" + questionId + "/ask"
    // success: success,
    // dataType: dataType
  });
});


$(".panel-heading-toggle").click(function(){
  $(this).nextAll(".panel-body-toggle:first").toggle('slow');
});

$(".add-another-question-btn").click(function() {
  $(this).toggle('slow');
  $('#new_question').toggle('slow');
})



$(".add-question-header-toggle").click(function(){
  $('#new_question').toggle('slow');
});

$(".unasked-questions-toggle").click(function(){
  $('.unasked-questions-collection').toggle('slow');
});


$(".ask-link").click(function( event ) {
  event.stopPropagation();
});



//add to bottom of panel on success
$(document).ready(function(){
  $('#new_question').on('ajax:success',function(data, status, xhr){
    $(".unasked-questions-collection").append("<div class='panel panel-default unasked-question'><div class='panel-heading my-panel-heading panel-heading-toggle'><h3 class='panel-title unasked-question-title'>Q: " + $("#question_text").val() + "</h3><a class='ask-link' href='#'><span class='ask-button' id='ask-" + status.id +"'>Ask</span></a></div><div class='panel-body unasked-question-body panel-body-toggle'><ul><li>A: " + $("#question_option_a").val() + "</li><li>B: " + $("#question_option_b").val() + "</li><li>C: " + $("#question_option_c").val() + "</li><li>D: " + $("#question_option_d").val() + "</li></ul></div></div>")
    $('#new_question').trigger('reset').hide();
    $('.add-more-questions').toggle();
    $(".unasked-questions-collection:last-child").click(function() {
      $(this).nextAll(".panel-body-toggle:first").toggle('slow');
    })

    $(".ask-link").click(function( event ) {
      event.stopPropagation();
    });

    $(".ask-button:last").click(function(e) {
      console.log("bound");
      e.preventDefault();
      var questionId = $(this).attr("id").split('-')[1];
      console.log(questionId);
      $.ajax({
        type: "POST",
        url: "/questions/" + questionId + "/ask"
        // success: success,
        // dataType: dataType
      });
    });

  }).on('ajax:error',function(xhr, status, error){
    alert("There was a problem creating your question. Please try again");
  });
});
</script>