<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote_b.user %>
</p>

<p>
  <strong>Question:</strong>
  <%= @vote_b.question %>
</p>

<%= link_to 'Edit', edit_vote_b_path(@vote_b) %> |
<%= link_to 'Back', vote_bs_path %>
